ModuleLanguageData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LanguageData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LanguageFile">
          <xs:complexType>
            <xs:attribute name="xml_path" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required" />
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="subtitle_extension" type="xs:string" use="required" />
      <xs:attribute name="supported_iso" type="xs:string" use="required" />
      <xs:attribute name="under_development" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
